body{
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

h1 {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: -300px;
}

.tiktok-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.tiktok-embed {
    clip-path: inset(5px 7px 167px 7px); /* top right bottom left */
    max-width: 100%;
    width: 100%;
    margin-bottom: 50px; /* adjust this value to change bottom gap between rows */
    /* (5px 142px 165px 142px) */
}

blockquote {
    display: block;
}